@font-face {
    font-family: CloudBold;
    src: url("../font/Cloud-Bold.ttf") 
}
@font-face {
    font-family: CloudLight;
    src: url("../font/Cloud-Light.ttf")
}
body
{
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "CloudBold";
  color:white;
}

#box{
    box-shadow: 5px 5px 15px #0000001A;
    border-radius: 60px;
    opacity: 1;
}
#box2{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
#box3{
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
.circle{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 23px; 
    height: 15px; 
    width: 15px; 
    border-radius: 360px;
}

#box_2{

    background: #F50204 0% 0% no-repeat padding-box; border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
}
#box_3{
  
    background: #782D28 0% 0% no-repeat padding-box; border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
}
#box_4{
    background: #003853 0% 0% no-repeat padding-box; border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
}
#box_5{
    background: #616161 0% 0% no-repeat padding-box; border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
}
#box_6{
    background: #2E2D29 0% 0% no-repeat padding-box; border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
}

#box_N_2{

    background: #DE5969 0% 0% no-repeat padding-box; border: 1px solid #DE5969;
    display: flex;
    justify-content: space-between;
}
#box_N_3{
  
    background: #DB7782 0% 0% no-repeat padding-box; border: 1px solid #DB7782;
    display: flex;
    justify-content: space-between;
}
#box_N_4{
    background: #97D258 0% 0% no-repeat padding-box; border: 1px solid #97D258;
    display: flex;
    justify-content: space-between;
}
#box_N_5{
    background: #7F7F7F 0% 0% no-repeat padding-box; border: 1px solid #7F7F7F;
    display: flex;
    justify-content: space-between;
}
#box_N_6{
    background: #464444 0% 0% no-repeat padding-box; border: 1px solid #464444;
    display: flex;
    justify-content: space-between;
}

#J_box_1{
    border-radius: 10px;
    background: #000000 0% 0% no-repeat padding-box; border: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
}
#J_box_2{
  
    border-radius: 10px;
    background: #000000 0% 0% no-repeat padding-box; border: 1px solid #09FE00;
    display: flex;
    justify-content: space-between;
}
#J_box_3{
    border-radius: 10px;
    background: #000000 0% 0% no-repeat padding-box; border: 1px solid #FE0000;
    display: flex;
    justify-content: space-between;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
tr{
    
    text-align: center;
    font-family: CloudLight;
    font-size: small;
    height: 40px;
}
.trPink{
    background-color: #FF708E;
}
.trBlue{
    background-color: #7B8FD1;
}
.trWhite{
    background-color: white;
    color: #000000;
}